body {
    padding-bottom: 60px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px; 
    background-color: #007bff;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 65px; 
    box-sizing: border-box;
    border-radius: 15px 15px 0 0; 
}

.footer p {
    margin: 0;
    padding: 0;
}

.footer a {
    color: #ffeb3b;
    text-decoration: none;
    margin-left: auto;
}

.footer a:hover {
    color: #fbc02d;
}
